@media screen and (max-width:400px) {
.nav-container, .nav-items-container {
    flex-direction: column;
    width: 100%;
    gap: 10px;
}
   .logo-container,  .nav-items-container{
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0;
   }
   .nav-items-container .login-btn ,.man-bags-text{
    margin-bottom: 10px;
    width: 100%;
   }
   .man-bags-container{
    flex-direction: column;
   }
   .man-bags-img{
    padding: .8rem 1.3rem; 
   }
}