* {
    margin: 0%;
    padding: 0% ;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Work+Sans:wght@400;500;600;700;800&display=swap');

body {
    font-family: 'Lato', sans-serif;
    
}

/* navbar styles start here */
nav{
    background-color: #9376e0;
}
.nav-container {
    min-height: 50px;
    display: flex;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
}

.logo-container {
    display: flex;
    width: 50%;
    align-items: center;
}
.logo-container img {
    
    width: 50px;
    object-fit: cover;
    margin-right: 20px;
}
.logo-container p {
    font-size: 30px;
    font-weight: 400;
}



.hive {
    color: #e893cf;
}

.nav-items-container {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
}

.nav-items-container a {
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    font-weight: 400;
}
.nav-items-container .login-btn{
    background-color: #e893cf;
    padding: 10px 20px;
    font-weight: 700;
    border-radius: 5px;
    color: black;
    text-align: center;
}